
.form {
    text-align: right;
  }
  
  .form button {
    font-family: 'Times New Roman', Times, serif  ;
    font: inherit;
    cursor: pointer;
    background-color: yellow;
    border: 1px solid yellow;
    color: black;
    padding: 0.25rem 2rem;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    color: white;
    background-color: #641e03;
    border-color: #641e03;
  }