.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 38);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  
  .title{
    margin-left: 20px;
    
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .Addcart{
    margin-left: 34cm;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }

  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  @media(
    max-width:600px
  ){
    h1{
      font-size: larger;
    }
  }